<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>161661818227-5r5n7kn2feard0dkjqvlp93e2dduhin4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.161661818227-5r5n7kn2feard0dkjqvlp93e2dduhin4</string>
	<key>API_KEY</key>
	<string>AIzaSyDMhLU7rkkse0aF2Bb6VJLfJdAp4XIcpVU</string>
	<key>GCM_SENDER_ID</key>
	<string>161661818227</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.intellijapp.barber</string>
	<key>PROJECT_ID</key>
	<string>barber-c3f9b</string>
	<key>STORAGE_BUCKET</key>
	<string>barber-c3f9b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:161661818227:ios:a87a95f53891c7d16e2106</string>
</dict>
</plist>