<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>801104721667-jpq18vl8dr0eoq67kj3v10n0u5r4e0b1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.801104721667-jpq18vl8dr0eoq67kj3v10n0u5r4e0b1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>801104721667-1190gfpgs5bhvs366cfs5a1b6lch5cku.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAIcLQVzpn3yMesK19dxCaanPgjRuIvPoI</string>
	<key>GCM_SENDER_ID</key>
	<string>801104721667</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.intellijapp.savingapp</string>
	<key>PROJECT_ID</key>
	<string>savingapp-50db6</string>
	<key>STORAGE_BUCKET</key>
	<string>savingapp-50db6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:801104721667:ios:5240c24d74ac16c0895b36</string>
	<key>DATABASE_URL</key>
	<string>https://savingapp-50db6-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>